* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header part */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 15px 150px;
}

.logo {
  font-weight: 700;
  font-size: 25px;
}

.link-right {
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: #e5e7eb;
}

/* main top part */
.top {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 40px 150px;
}

.top-left {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}

.main-img {
  flex-basis: 500px;
  height: 200px;
}

.top-left h2 {
  color: #f9faf8;
  font-size: 48px;
}

.top-left p {
  color: #e5e7eb;
  font-size: 18px;
}

.top-left button {
  background-color: #3882f6;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  margin: 10px 0px;
  align-self: flex-start;
  border-radius: 5px;
}

/* main middle first part */

main .middle-first {
  margin: 50px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-first h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.subtexts {
  display: flex;
  margin-top: 30px;
  margin: 25px 150px;
}

.subtexts li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtexts img {
  height: 130px;
  width: 140px;
  border-color: #3882f6;
  border-style: solid;
  border-radius: 5px;
}
.subtexts p {
  font-size: 15px;
  color: grey;
  text-align: center;
  padding: 5px 15px;
}

/* middle second part */

.middle-second {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.middle-second .quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  margin: auto 150px;
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
}

.middle-second .author {
  color: black;
  font-weight: 18px;
  font-weight: 700;
  margin: 0px 150px;
  padding: 0px 150px;

  align-self: flex-end;
}

/* middle bottom part */

.contact {
  background-color: #2675f4;
  display: flex;
  margin: 50px 150px;
  border-radius: 5px;
  padding: 45px 50px;
  justify-content: space-between;
}

.contact-button {
  color: white;
  background-color: #2675f4;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  font-weight: 500;
  padding: 0px 15px;
  height: 30px;
}

/* footer section */

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 30px 10px;
}
